
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <table class="table table-dark">
                  <thead>
                    <tr class="text-center">
                      <th scope="col">Archivo</th>
                      <th scope="col">Elimiar</th>
                      <th scope="col">Descargar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="text-center" *ngFor="let file of clientFiles">
                      <td>{{ file.fileName }}</td>
                      <td><Button class="btn btn-danger" (click)='deleteFile(file)'>Eliminar</Button></td>
                      <td><a href = "{{ API }}/api/clients/files/{{file.storePath}}" class="btn btn-info">Descargar</a></td>
                    </tr>
                  </tbody>
                </table>
                <ngx-dropzone (change)="onSelect($event)">
                  <ngx-dropzone-label>Subir archivos!</ngx-dropzone-label>
                  <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone>
                <button class="btn btn-success" (click)='saveFiles()'>Guradar</button>
              </div>
            </div>
          </div>
