<app-detail *ngIf="selectedClient" [client]="selectedClient" ></app-detail>
<app-file  *ngIf="selectedClientFile" [client]="selectedClientFile" ></app-file>

<h5 class="card-title"> Listado de clientes</h5>

    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" 
      [routerLink]="['/clients/form']">
        Crear Cliente
      </button>
    </div>
    <div *ngIf="clients?.length === 0" class="alert alert-info">
      ¡No hay clients registrados!
    </div>
    <table class="table table-bordered table-striped" *ngIf="clients?.length > 0">
      <thead>
        <tr>
          <th>id</th>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Teléfono</th>
          <th>Editar</th>
          <th>Eliminar</th>
          <th>Archivos</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clients">
          <td><button class="btn btn-success" type="button" (click)="openModal(client)" >{{ client.id }}</button></td>
          <td>{{ client.name }}</td>
          <td>{{ client.firstLastName }} {{client.secondLastName}}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.phone }}</td>
          <td>
            <button class="btn btn-success" type="button" [routerLink]="['/clients/form', client.id]" >Editar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)='delete(client)' class="btn btn-danger">Eliminar</button>
          </td>
          <td>
            <button type="button" name="eliminar" (click)='openFileModal(client)' class="btn btn-success">Archivos</button>
          </td>
        </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="paginator" [paginator] = "paginator"></app-paginator>
